version: "3.8"

services:
  duckdns:
    image: linuxserver/duckdns
    container_name: duckdns
    environment:
      - SUBDOMAINS=${DUCKDNS_SUBDOMAIN}
      - TOKEN=${DUCKDNS_TOKEN}
      - LOG_FILE=false
    restart: unless-stopped

  webserver:
    image: httpd:2.4
    container_name: webgl-server
    ports:
      - "${GAME_PORT}:80"
    volumes:
      - ./webgl-build:/usr/local/apache2/htdocs
      - ./apache-config/httpd-custom.conf:/usr/local/apache2/conf/extra/httpd-custom.conf
    command: >
      sh -c "echo 'Include conf/extra/httpd-custom.conf' >> /usr/local/apache2/conf/httpd.conf && 
             sed -i 's/#LoadModule headers_module/LoadModule headers_module/' /usr/local/apache2/conf/httpd.conf &&
             httpd-foreground"
    restart: unless-stopped
